<% if(userDb){ %>
<h1>Welcome!</h1>
<%= userDb.email %>
<form method="POST" action="/logout">
  <button type="submit">Log out</button>
</form>
<% } else { %>  
<h4>Please <a href="/register" class="btn-btn primary">Register</a></h4>
<h4>or <a href="/login" class="btn-btn primary">Login</a></h4>
<% } %>

<h1>Tiny App</h1>
