

<% if(user && usersDb){ %>
    <%= usersDb.email %>
    <form method="POST" action="/logout">
        <button type="submit">LOG TF OUT</button>
    </form>
  <% } else { %>  
    <form method="POST" action="/login">
        <input type="text" name="username">
        <button type="submit">Login</button>
    </form> 
 <% } %>

 <a href="/register" class="btn-btn primary">Register</a>
<a href="/login" class="btn-btn primary">Login</a>

<h1>Tiny App</h1> 