<% if(username){ %>
    <%= username %>
    <form method="POST" action="/logout">
        <button type="submit">LOG TF OUT</button>
    </form>
  <% } else { %>  
    <form method="POST" action="/login">
        <input type="text" name="username">
        <button type="submit">Login</button>
    </form>
 <% } %>

<h1>Tiny App</h1>