<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
</head>
<body>
    <h1><b>Tiny App Login Page - login.ejs</b></h1>
    <form method="POST" action="/login">
    <div class="login-email">
        <label for="login">Log your Email: </label>
        <input type="email" name="email">
    </div>
    <div class="login-password">
        <label for="password">Log your Password: </label>
        <input type="password" name="password">
    </div>
    <button type="submit">Login</button>
    </form>

</body>
</html>