<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>TinyApp</title>
  </head>
  <header>
    <% include partials/_header %>
  </header>
  <a href="#">Create New TinyURL</a>
  <body style="font-size:20px; padding:50px;">
    <h2>My URL's THIS IS URL-INDEX</h2>
    <% var string = ""; %> <% for (var keys in urls) { %>
    <li><%= keys %></li>
    <%} %> <% var string2 = ""; %> <% for (var values of Object.values(urls)) {
    %>
    <li><%= values %></li>
    <% } %>
  </body>
</html>
