<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TinyApp URLS-SHOW</title>
  </head>
  <header>
    <% include partials/_header %>
  </header>
  <a href="#">Create New TinyURL THIS IS URLS-SHOW</a>
  <body>
    <h3><%= shortURL %> </h3> 
    <h3><%= longURL %> </h3>
  </body>
</html>
