<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TinyApp</title>
  </head>
  <header>
    <% include partials/_header %>
  </header>
  <body>
    <a href="http://localhost:8080/urls">Return to Homepage!</a>
    <h1>Update URL</h1>
    <h3>Here is your shortURL: <%= shortURL %></h3>
    <h4>Would you like to update <%= longURL %>?</h4>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input placeholder="<%= longURL %>" type="text" name="longURL" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
